.sxtj .row {
    margin: 0;
}

.sxtj .control-label {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}

.data_text {
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.more_sx {
    display: none;
}